.bg-secondary {
    background-color: #05294c !important;
  }
  
  .copyright {
    background-color: #040608;
  }
  
  .bg-primary {
    background-color: #09d1df !important;
  }
  
  nav{
    font-weight: 500;
  }
  .content {
        background-image: url('https://www.pinpng.com/pngs/m/368-3682138_huellas-de-gatos-huellas-de-perro-cafe-hd.png'); /* Ruta a la imagen de libro de fondo */
        background-repeat: repeat; /* Repetir la imagen */
        background-size: 3.5cm; /* Tamaño automático */
        background-color: #360369  !important;
        font-size: 0.4cm;
    
    }
  
  .img-card{
    height: 18vw;
    object-fit: cover;
  }

  
  