{% extends 'pages/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}

{% block content %}
<div class="row">
  {% for product in products %}
  <div class="col-md-4 col-lg-3 mb-2">
    <div class="card">
      <img src="https://i.insider.com/5ed95c393f7370198527eea3?width=700" class="card-img-top img-card">
      <div class="card-body text-center">
        <a href="{% url 'show' id=product.id %}"
          class="btn bg-primary text-white">{{product.name}}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
