{% extends 'pages/base.html' %}

{% block title %} About us - Online Store {% endblock %}

{% block header_title %} About us {% endblock %}

{% block content %} 
<div class="container">
  <div class="row">
    <div class="col-lg-4 ms-auto">
      <p class="lead"><div class="text-center" >
        ¿Quienes somos?
        </div>
      </p>
    </div>
    <div class="col-lg-4 me-auto">
      <p class="lead">
        <section>
        <div class="text-center" >
        developed by: <a class="text-center text-black text-decoration-none" target="_blank"
        href="https://www.youtube.com/watch?v=IDLN-FGhYwU&pp=ygUNbWUgY29ycm8gbWVtZQ%3D%3D">
         AR
         </a>
        </section>
      </div>
    </p>
    </div>
  </div>
</div>
{% endblock %}
